// font responsive

$fontSizeSmall:calc(0.6rem + 0.3vw);
$fontSizeTitle: calc(2rem + 0.5vw);
$fontSizedefault: calc(0.8rem + 0.3vw);
$fontFamilyGlobal:"Basic";
$FontFamilySecond:"Fira Code";

// Colors 

$colorwhitelight: rgb(240, 240, 240);
$colorGold:rgb(250, 184, 4);
$colorGreyfaded:rgba(209, 209, 209,0.65);
$colorMain: white;